@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #155eef;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 0 2%;
  padding: 0 1.5%;
}

a {
  font-family: "Halant", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  color: #041330;
  margin-right: 30px;
  padding: 3px;
  
}

.hire-me {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #155eef;
  border: 1px solid #155eef;
  border-radius: 4px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 1%;
  background: #f9fbff;
  border: 2px solid #155eef;
  border-radius: 8px;
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding: 0 1.5%;
}


.child{
    margin-top: 3%;
    margin-bottom: 3%;
}

.welcome {
  font-family: "Halant", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #2e3a53;
}

.name {
  font-family: "Halant", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: #155eef;
}

.myself {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #2e3a53;
}

button {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background: #155eef;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  margin-top: 3.5%;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #155eef;
  border-radius: 8px;
  gap: 170px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding: 3.0% 1.5%;
}

.section-2 img{
    border: 3px solid #155eef;
}

.child-2{
  display: flex;
  flex-direction: column;
}

.section-2 h1 {
  font-family: "Halant", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 1.5%;
  color: #041330;
}

.section-2 p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-align: justify;
  color: #2e3a53;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #155eef;
  border-radius: 8px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding: 1.5% 1.5%;
/* gap: 24px; */
}
.child-3{
  background: #F9FBFF;
  padding: 4.0% 3.0%;
  width: 100%;
}

.section-3 h2 {
  font-family: "Halant", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #041330;
  margin-bottom: 4%;
}

.section-3 p,
ul {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  line-height: 120%;
  color: #2e3a53;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #155eef;
  border-radius: 8px;
  padding: 0 1.5%;
  margin: 0 2%;
}

footer p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #041330;
}
